---
title: Log in
css:
- login.css
- input.css
- btn.css
---

{{!< base}} <div class="outerBlock">
    <div class="enterBlock">
        <h2>Log in</h2>
        <div class="inputsBlock">
            <div class="loginBlock">
                {{> input name="login" label="Login" type="text"}}
            </div>
            <div class="loginBlock">
                {{> input name="password" label="Password" type="password"}}
            </div>
        </div>

        <div>
            {{> button text="Enter"}}
        </div>
        <div class="linkBlock">
            <a href="./src/pages/registration.hbs">Don't have account yet?</a>
        </div>
    </div>

    </div>