---
title: Log in
css:
- login.css
---
{{!< base}} <div class="outerBlock">
    <div class="enterBlock">
        <h2>Log in</h2>
        <div>
            <input name="login" />
        </div>
        <div>
            <input name="password" type="password" />
        </div>
    </div>
    </div>