---
title: 404
css:
- error.css
---

{{!< base}} <div class="outer">
    <h1>5** статус ошибки!</h1>
    <h2>Ошибка на стороне сервера</h2>
    <h3>Кто-то в этом месяце не получит зарплату...</div>

</div>