<div class="infoBlock">
    <span class="infoBlock__label">
        {{label}}
    </span>
    <input type="{{inputType}}" name="{{inputName}}" disabled class="profileInput" value="{{value}}" />
</div>