.btn {
    border: 2px solid #00A523;
    background-color: white;
    color: #00A523;
    padding: 4px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background-color: #00A523;
        color: #fff;
    }
}