.block{
    &__enter{
        padding: 24px;
        width: 33%;
        margin: 0;
        text-align: center;
        box-shadow: 0px 0px 6px rgb(0 0 0 / 14%);
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__outer{
        height: 100vh;
        position: relative;
    }

    &__login{
        margin-bottom: 20px;
    }

    &__inputs{
        margin-bottom: 108px;
        &-signUp{
            margin-bottom: 48px;
        }
    }

    &__link{
        padding: 12px 0;
    }
}